<div class="timeline" *ngIf="!!events?.length">
  <ng-container *ngFor='let event of events; let i = index'>
    <div class="event-container" [ngClass]="{ left: i%2 !== 0, right: i%2 === 0, active: event === selectedEvent }">
      <div class="content" (click)="event !== selectedEvent ? selectEvent(event) : null">
        <p>{{ event.date | fullDateTime }}</p>
        <h2>{{ event.band }}</h2>
        <p class="mb-0">{{ 'labels.event.motto' | translate }}: {{ event.motto }}</p>
      </div>
      <div *ngIf="event === selectedEvent" class="additional-content">
        <p>
          {{ 'labels.event.homepage' | translate }}:
          <a target="_blank" [href]="event.homepage">{{ event.homepage || 'hier' }}</a>
        </p>

        <ng-container *ngIf="!!event.vorbands?.length">
          <p class="mb-0">{{ 'labels.event.vorbands' | translate }}:</p>
          <ul>
            <li *ngFor="let b of event.vorbands">{{b.band}}</li>
          </ul>
        </ng-container>

        <button [routerLink]="['/events', event.band]" type="button" class="btn btn-primary w-100" [tooltip]="'tooltips.buy-tickets' | translate">
          {{ 'buttons.buy-tickets' | translate }}
        </button>
      </div>
    </div>
  </ng-container>
</div>
<ng-container *ngIf="showError">
  <p class="alert alert-danger text-center">{{ 'labels.shared.hitTheFan' | translate }}</p>
</ng-container>
