@import "src/custom-scss/variables";


.order-page {
  background-color: $on-default-bg;
  padding: 2rem 3rem;
  border-radius: 6px;

  .form-control.custom-form-control {
    border: none;
  }

  .fake-notification {
    position: absolute;
    top: 10px;
    width: 80%;
    left: 10%;
    text-align: center;
    z-index: 2;
  }

  .copy-url{
    position: absolute;
    top: 50px;
    right: 50px;
    z-index: 1;
  }

  .col-form-label.required::after {
    content: ' *'
  }
}
